@charset "utf-8";

.adControl-topBannerWrapper {width: 100%; font-size: 0;}
.adControl-topBannerWrapper img {max-width:100%; height: auto;}
.adControl-topBanner { max-height: 80px; display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center; justify-content: center; -webkit-justify-content: center;}
.adControl-topBanner a {text-align: center; color: inherit; text-decoration: none;}

/* Responsive Media Queries */
@media (max-width: 575px){

}    

